* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  background: url("img/bady-abbas-MDgRcuGYu58-unsplash.jpg");
  background-size: cover;
  font-size: 20px;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(34, 19, 235, 0.11);
}
section {
  height: 100vh;
  max-width: 60vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(204, 226, 238);
}
.city h1 {
  font-size: 1em;
  font-weight: 400;
}
.city h2 {
  font-size: 0.8em;
  font-weight: 200;
}
.city,
.weather-app,
.weather-info {
  flex-grow: 1;
}

.weather-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-app .degrees {
  font-size: 4em;
  font-weight: 400;
  padding-left: 20px;
}
.weather-app p:last-child {
  color: rgb(204, 226, 238);
  font-size: 0.6em;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.weather-app .temp {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.weather-info {
  width: 100%;
  height: 35%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.weather-info h3 {
  font-size: 0.7em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.weather-info div {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

/* Weather Types */

.clear {
  background: url("img/patrick-fore-1gT773Pm8Mo-unsplash.jpg");
  background-size: cover;
}

.clearNight {
  background: url("img/jinen-shah-TwZb_z0Cf88-unsplash.jpg");
  background-size: cover;
}
.rain {
  background: url("img/osman-rana-GXEZuWo5m4I-unsplash.jpg");
  background-size: cover;
}

.cloud {
  background: url("img/zbynek-burival-8iZG31eXkks-unsplash.jpg");
  background-size: cover;
}

.cloudNight {
  background: url("img/perchek-industrie-0cpfP5E86B4-unsplash.jpg");
  background-size: cover;
}
